#clockbox {
    text-align: center;
    font-size: 7em;
}

.div-horizontal {
    text-align: right;
}

.div-horizontal label {
    font-size: 1.35em;
}

#UserInput {
    font-size: 1.05em;
    text-align: center;
    height: 100%;
}